*{

}

h4.giamoi {
    padding-right: 1em;
    font-family: monospace;
}

h4.giacu {
    font-family: monospace;
    padding-left: 1em;
}

button.btn.btn-primary {
    margin-left: 5em;
    width: 120px;
}

.rating {
    padding-left: 1em;
    color: red;
}

h3.ten {
    font-family: monospace;
    padding-left: 1em;
    text-overflow: inherit;
    text-shadow: 1px 1px 1px #61380B;
    text-decoration: none;
    color: #61380B;
}

.nencuoi {
    padding: 30px;
    text-align: center;
    margin: 20px;
    text-transform: capitalize;
    line-height: unset;
    font-size: 25px;
    font-family: monospace;
    font-weight: 600;
    background: #61380B;
}

#connect {
    color: white;
}
.menu{
	align-content: center;
	text-align: center;
}
nav.navbar.navbar-inverse {
    border: none;
    background-color: #61380B;
}
.bill{
	background-color: white;
	font-family: monospace;
	border-radius: 5px;
}
.btn-success{
	width: 150px;
	height: 40px;
	padding: 10px;
	border-radius: 5px;
}
.giacu{
	text-decoration:line-through;
	float:left;
}
.giamoi{
	float: right;
}
.clear-fix{
	content: "";
	display: block;
	clear: both;
}
.info{
	background-color:#61380B;
	border-radius: 5px; 
}
button.btn.btn-primary {background-color: #61380B;}
